.navwrapper{
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  background: #030712;
  padding: 10px 80px;
  color: #FFF;
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.logocontainer{
  display: flex;
  align-items: center;
  gap: 5px;
}
.navitems{
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 56px;
  font-size: 16px;
  color: #ffffffb3;
}
.navitems li:hover{
  color: #FFF;
}
.navitemsmob{
  display: none;
}
.close{
  display: none;
}
.hamburger{
  display: none;
}
@media screen and (max-width: 450px) {
  .navwrapper{
    padding: 10px;
    position: relative;
    cursor: none;
  }
  .hamburger{
    display: block;
  }
  .navitems{
    display: none;
  }
  .navitemsmob{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #41BFD2;
    top: 80px;
    right: 10px;
    border-radius: 10px;
    z-index: 100;
    width: 200px;
    list-style: none;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* background: #F9E0AE; */
    clip-path: circle(0px at top right);
    transition: clip-path 0.5s;
  }
  .close{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #41BFD2;
    top: 80px;
    right: 10px;
    border-radius: 10px;
    z-index: 100;
    width: 200px;
    list-style: none;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    clip-path: circle(250% at top right);
    transition: clip-path 0.5s;
  }
}