@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
}
html::-webkit-scrollbar{
  width: 10px;
}
html::-webkit-scrollbar-thumb{
  background-color: #89D3DE;
}
html::-webkit-scrollbar-track{
  background-color: #030712;
}
.wrap{
  background-color: #030712;
}
